@import url(https://fonts.googleapis.com/css?family=Varela+Round);
* {
  padding: 0;
  margin: 0;
}

body {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  background-image: url("/img/fondo-bitcoin.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

table {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: table;
  background-color: #1b3030;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #ebd758;
}

td {
  border-radius: 10px;
  background-color: whitesmoke;
}

td:hover {
  background-color: #3498db;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  margin-bottom: 20px;
  background-color: #1b3039;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header nav {
  order: 1;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}

.header .btn {
  order: 2;
}

.header .btn button {
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

.info {
  border-radius: 10px;
  margin: 10px 100px;
  height: auto;
  width: auto;
  background-color: #1b3039;
}

.conten {
  color: #e2f1f8;
  margin: 10px 60px;
}

.cotenido {
  margin: 10px;
  width: 10px;
  text-align: center;
}

.contenido h1 {
  padding-bottom: 30px;
  color: #e2f1f8;
}

footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  background: #1b3039;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: white;
  justify-content: space-evenly;
}

.footer-content {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-self: flex-end;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.cards-list {
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-list a {
  text-decoration: none;
  color: #e2f1f8;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  text-decoration: none;
  border-radius: 20px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  text-decoration: none;
  color: white;
}

.title-black {
  color: black;
}/*# sourceMappingURL=style.css.map */